{% extends 'base.html' %}
{% load static %}
{% block title %}Home - Ask Me{% endblock %}

{% block content %}
  <h1 class="mb-4">New Questions</h1>
  <div class="list-group">
    {% for question in questions %}
      <a href="{{ question.get_absolute_url }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <!-- Аватарка автора вопроса -->
        <div class="d-flex align-items-center">
          {% if question.user.profile.avatar %}
            <img src="{{ question.user.profile.avatar.url }}" alt="{{ question.user.username }}'s Avatar" class="rounded-circle" width="40" height="40">
          {% else %}
            <img src="{% static 'img/avatar_pattern.jpg' %}" alt="Default Avatar" class="rounded-circle" width="40" height="40">
          {% endif %}
          <h5 class="mb-1 ml-3">{{ question.title }}</h5>
        </div>

        <small>{{ question.created_at|date:"F j, Y" }}</small>
        <span class="badge badge-primary badge-pill">{{ question.views }} Views</span>
      </a>
    {% endfor %}
  </div>

  {% if questions.has_other_pages %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center mt-5">
        {% if questions.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1{% if query %}&q={{ query }}{% endif %}" aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ questions.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}

        <li class="page-item disabled">
          <span class="page-link">Page {{ questions.number }} of {{ questions.paginator.num_pages }}</span>
        </li>

        {% if questions.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ questions.next_page_number }}{% if query %}&q={{ query }}{% endif %}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ questions.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}" aria-label="Last">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endblock %}
